{% ckan_extends %}

{% block header_logo %}
  <a class="logo navbar-brand" href="{{ h.url_for('home.index') }}" aria-label="{{ g.site_title }}">
    <img src="{{ h.url_for_static('/banten/images/logo.png') }}" alt="Logo Pemprov Banten" />
    <span class="site-name">
      SATU DATA BANTEN
      <small>Portal Resmi Data Terbuka Pemerintah Provinsi Banten</small>
    </span>
  </a>
{% endblock %}

{% block header_site_navigation_tabs %}
  {% set org_type = h.default_group_type('organization') %}
  {% set group_type = h.default_group_type('group') %}

  {{ h.build_nav_main(
    (dataset_type ~ '.search', h.humanize_entity_type('package', dataset_type, 'main nav') or _('Datasets'), ["dataset", "resource"]),
    ('metrix.index', _('Metrix')),
    (org_type ~ '.index',
      h.humanize_entity_type('organization', org_type, 'main nav') or _('Organizations'), ['organization']),
    (group_type ~ '.index',
      h.humanize_entity_type('group', group_type, 'main nav') or _('Groups'), ['group']),
    ('home.about', _('About'))
  ) }}
{% endblock %}
