{#
  Organization sidebar helper (Bahasa Indonesia override).
#}

<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    Apa itu Organisasi?
  </h2>
  <div class="module-content">
    <p>
      Organisasi di CKAN digunakan untuk membuat, mengelola, dan mempublikasikan
      kumpulan dataset. Setiap pengguna dapat memiliki peran yang berbeda dalam
      sebuah organisasi, sesuai tingkat kewenangannya untuk membuat, mengubah,
      dan menerbitkan data.
    </p>
  </div>
</div>
