{#
  Group sidebar helper (Bahasa Indonesia override).
#}

<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    Apa itu Grup?
  </h2>
  <div class="module-content">
    <p>
      Anda dapat menggunakan Grup di CKAN untuk membuat dan mengelola
      kumpulan dataset. Grup dapat dipakai untuk mengelompokkan dataset
      berdasarkan proyek atau tim tertentu, tema tertentu, maupun sebagai
      cara sederhana agar pengguna lebih mudah menemukan dan menelusuri
      dataset yang telah dipublikasikan.
    </p>
  </div>
</div>
